* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid violet;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.3);
  overflow: hidden;
  height: 100%;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

#title {
  margin-left: 15px;
  margin-top: 10px;
  font-family: "Spicy Rice", serif;
  font-size: 25px;
  color: rgb(151, 113, 255);
  -webkit-text-stroke: 0.5px rgb(78, 0, 180);
}

#navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#buttons {
  margin-right: 15px;
  margin-top: 10px;
  gap: 10px;
  display: flex;
}

button {
  width: 50px;
  border-radius: 100px;
  height: 50px;
  cursor: pointer;
  border: 2px solid rgb(78, 0, 180);
  background: rgb(201, 181, 255);
}

button:hover {
  transform: translateY(-5px) scale(1.1);
  transition: transform 0.5s cubic-bezier(0.25, 1.75, 0.6, 1);
  cursor: pointer;
  box-shadow: 5px 5px 20px rgb(0, 0, 0, 1);
}
button:active {
  transform: translateY(2px) translateX(-2px) scale(1.1);
  border: 2px solid rgb(201, 181, 255);
  background: rgb(78, 0, 180);
  box-shadow: 2px 2px 10px rgb(0, 0, 0, 1);
}

.fa-ghost {
  font-size: 30px;
  color: rgb(78, 0, 180);
}

.fa-ghost:active {
  color: rgb(201, 181, 255);
}

.fa-cog {
  font-size: 30px;
  color: rgb(78, 0, 180);
}

.fa-cog:active {
  color: rgb(201, 181, 255);
}

#code {
  width: 100%;
  height: 300px;
}
