* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  animation: frameAnimation 3s steps(10) infinite;
  z-index: -1;
}

@keyframes frameAnimation {
  0% {
    background-image: url("../Start/assets/frame0000.png");
  }
  5% {
    background-image: url("../Start/assets/frame0002.png");
  }
  10% {
    background-image: url("../Start/assets/frame0004.png");
  }
  15% {
    background-image: url("../Start/assets/frame0006.png");
  }
  20% {
    background-image: url("../Start/assets/frame0008.png");
  }
  25% {
    background-image: url("../Start/assets/frame0010.png");
  }
  30% {
    background-image: url("../Start/assets/frame0012.png");
  }
  35% {
    background-image: url("../Start/assets/frame0014.png");
  }
  40% {
    background-image: url("../Start/assets/frame0016.png");
  }
  45% {
    background-image: url("../Start/assets/frame0018.png");
  }
  50% {
    background-image: url("../Start/assets/frame0020.png");
  }
  55% {
    background-image: url("../Start/assets/frame0022.png");
  }
  60% {
    background-image: url("../Start/assets/frame0024.png");
  }
  65% {
    background-image: url("../Start/assets/frame0026.png");
  }
  70% {
    background-image: url("../Start/assets/frame0028.png");
  }
  75% {
    background-image: url("../Start/assets/frame0030.png");
  }
  80% {
    background-image: url("../Start/assets/frame0032.png");
  }
  85% {
    background-image: url("../Start/assets/frame0034.png");
  }
  90% {
    background-image: url("../Start/assets/frame0036.png");
  }
  95% {
    background-image: url("../Start/assets/frame0038.png");
  }
  100% {
    background-image: url("../Start/assets/frame0000.png");
  }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid violet;
  border-radius: 10px;
  box-shadow: 10px 10px 40px rgb(0, 0, 0, 1);
  overflow: hidden;
  height: 80%;
  width: 100%;
  justify-content: space-evenly;
}

h1 {
  font-family: "Spicy Rice", serif;
  font-size: 80px;
  color: rgb(151, 113, 255);
  -webkit-text-stroke: 2px rgb(78, 0, 180);
}

button {
  background-color: rgb(151, 113, 255);
  width: 200px;
  height: 80px;
  border-radius: 20px;
  border: 4px solid rgb(78, 0, 180);
  font-family: "Spicy Rice", serif;
  font-size: 20px;
  text-transform: uppercase;
  color: rgb(78, 0, 180);
}

button:hover {
  transform: translateY(-5px) scale(1.1);
  transition: transform 0.5s cubic-bezier(0.25, 1.75, 0.6, 1);
  cursor: pointer;
  box-shadow: 5px 5px 20px rgb(0, 0, 0, 1);
}
button:active {
  transform: translateY(5px) translateX(-5px) scale(1.2);
  animation: shake 0.6s ease-in-out;
  box-shadow: 2px 2px 10px rgb(0, 0, 0, 1);
}

.button-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

a:link {
  color: rgb(78, 0, 180);
  text-decoration: none;
  font-family: "Spicy Rice", serif;
  font-size: 20px;
  text-transform: uppercase;
}
a:visited {
  color: rgb(78, 0, 180);
}

a:hover {
  color: rgb(78, 0, 180);
}

/*CSS per il menù a tendina*/

.hidden {
  display: none;
}

#new-overlay-game {
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;

  display: none;
  z-index: 10;
}

#new-overlay-game.show {
  display: flex;
  justify-self: anchor-center;
  top: 20em;
  height: 50%;
  width: 35%;
}

.drop-menu {
  background: rgb(186, 161, 255);
  padding: 20px;
  border-radius: 10px;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid rgb(78, 0, 180);
  z-index: 11;
  width: 70%;
  box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.3);
}

/*CSS per il form di registrazione*/

h3 {
  font-family: "Spicy Rice", serif;
  font-size: 30px;
  color: rgb(151, 113, 255);
  -webkit-text-stroke: 1px rgb(78, 0, 180);
}

.drop-menu input {
  border: 2px solid rgb(151, 113, 255);
  border-radius: 10px;
  height: 40px;
}

/*CSS per il load menu*/
#load-overlay {
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;

  display: none;
  z-index: 10;
}

#load-overlay.show {
  display: flex;
  justify-self: anchor-center;
  top: 20em;
  height: 50%;
  width: 35%;
}

/*CSS per il levels*/
#levels-overlay {
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;

  display: none;
  z-index: 10;
}

#levels-overlay.show {
  display: flex;
  justify-self: anchor-center;
  top: 20em;
  height: 50%;
  width: 35%;
}

/*CSS per ilo settings*/
#settings-overlay {
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;

  display: none;
  z-index: 10;
}

#settings-overlay.show {
  display: flex;
  justify-self: anchor-center;
  top: 20em;
  height: 50%;
  width: 35%;
}

p {
  font-family: "Spicy Rice", serif;
  font-size: 20px;
  color: rgb(78, 0, 180);
}

option {
  color: rgb(78, 0, 180);
  height: 50px;
  width: 200px;
}

form {
  color: rgb(78, 0, 180);
}

#lang {
  color: rgb(78, 0, 180);
  width: 200px;
  height: 30px;
  border: 2px solid rgb(151, 113, 255);
}

#lang-option {
  color: rgb(78, 0, 180);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#music-option {
  color: rgb(78, 0, 180);
  width: 100%;
  margin-left: 36px;
  display: flex;
  justify-content: flex-start;
}
