* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid violet;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.3);
  overflow: hidden;
  height: 80%;
  width: 100%;
  justify-content: space-evenly;
}

h1 {
  font-family: "Spicy Rice", serif;
  font-size: 80px;
  color: rgb(151, 113, 255);
  -webkit-text-stroke: 2px rgb(78, 0, 180);
}

button {
  background-color: rgb(151, 113, 255);
  width: 200px;
  height: 80px;
  border-radius: 20px;
  border: 4px solid rgb(78, 0, 180);
  font-family: "Spicy Rice", serif;
  font-size: 20px;
  text-transform: uppercase;
  color: rgb(78, 0, 180);
}

button:hover {
  transform: translateY(-5px) scale(1.1);
  transition: transform 0.5s cubic-bezier(0.25, 1.75, 0.6, 1);
  cursor: pointer;
}
button:active {
  transform: translateY(5px) translateX(-5px) scale(1.2);
  animation: shake 0.6s ease-in-out;
}

.button-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

a:link {
  color: rgb(78, 0, 180);
  text-decoration: none;
  font-family: "Spicy Rice", serif;
  font-size: 20px;
  text-transform: uppercase;
}
a:visited {
  color: rgb(78, 0, 180);
}

a:hover {
  color: rgb(78, 0, 180);
}

/*CSS per il menù a tendina*/

.hidden {
  display: none;
}

#new-overlay {
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;

  display: none;
  z-index: 10;
}

#new-overlay.show {
  display: flex;
  justify-self: anchor-center;
  top: 20em;
  height: 50%;
  width: 35%;
}

.drop-menu {
  background: white;
  padding: 20px;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid rgb(78, 0, 180);
  z-index: 11;
  width: 70%;
  box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.3);
}

/*CSS per il form di registrazione*/

h3 {
  font-family: "Spicy Rice", serif;
  font-size: 30px;
  color: rgb(151, 113, 255);
  -webkit-text-stroke: 1px rgb(78, 0, 180);
}

.drop-menu input {
  border: 2px solid rgb(151, 113, 255);
  border-radius: 10px;
  height: 40px;
}
